header{
    border-bottom: 1px solid #999;
    margin-bottom: 2rem;
    display: flex;
}

body{
    font-family: 'Noto Sans Jp', sans-serif;
    font-size: 18px;
}
header h1 a{
    color: forestgreen;
    text-decoration: none;
}
.nav-left{
    margin-left: auto;
}
.nav-right{
    display: flex;
    padding-top: 2rem;
}
.post-entery{
    margin-bottom: 2rem;
}
.post-entery h2{
    margin: 0.5rem 0;
}
.post-entery h2 a,
.post-entery h2 a:visited{
    color: blue;
    text-decoration: none;
}
.post-entery p{
    margin: 0;
    font-weight: 400;
}
.post-entery h2 a:hover{
    color: red;
}